.searchPage__info {
    padding: 20px 8%;
}

.searchPage__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.searchPage__info > h1 {
    margin-bottom: 30px;
}

.searchPage__info > button{
    border-radius: 20px;
    text-transform: inherit;
    margin-bottom: 50px;
}
.searchPage__info > button:not(:last-child) {
    margin-right: 8px;
}

@media screen and (max-width:780px) {
    .searchPage__info > button {
        margin-bottom: 10px;
    }
}